* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* HEADER */

.inicio {
    font-family: cursive;
    font-size: 1.5rem;
    color: aliceblue;
}


.headerInicio {
    height: 60vh;
    background-image: url(../multimedis/header_Inicio.jpg);
    background-size: cover;
    background-position: center;
}


.headerServicios {
    height: 60vh;
    background-image: url(../multimedis/fondo-servicios.jpg);
    background-size: cover;
    background-position: center;
}

.headerNosotros {
    height: 60vh;
    background-image: url(../multimedis/fondo-Nosotros.jpeg);
    background-size: cover;
    background-position: center;
}

.headerMetodo {
    height: 60vh;
    background-image: url(../multimedis/header-metodo.jpg);
    background-size: cover;
    background-position: center;
}

.headerAlumnos {
    height: 60vh;
    background-image: url(../multimedis/fondo-alumnos.jpg);
    background-size: cover;
    background-position: center;
}

.nombreInst {
    font-family: cursive;
    font-size: 1.5rem;
    color: aliceblue;
}

.bordeLogo {
    width: 80px;
    height: 80px;
    border-radius: 80%
}



/*MAIN*/


.textoNosotrosIndex {
    font-size: 1.2rem;
    padding: 100px;
    text-align: center;
}

.altura {
    height: 100%;

    }

    .nosotros{
    background-color: rgb(227, 244, 231) ;
}

.alturaMain {
    height: auto;

}

.alturaContenedorForm {

    height: 100vh;
}

.h4Index {
    color: blueviolet;
}

.ancla {
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
}

.alturaCarrusel {
    height: 30vh;
}

.tamañoImagenCards {
    width: 350px;
    height: 250px
}

.bordeImagenCards {
    border-radius: 10%;
}


.boxForm {
    width: 100%;
    background-image: url(../multimedis/fondo-section_1_index.avif);
    background-size: cover;
    background-position: center;
}


.textoFormulario {
    color: rgb(37, 44, 51);
    font-size: 1.2rem;
}

.tituloForm {
    font-size: 1.5rem;
    font-family: cursive;
    text-align: center;
    font-weight: 5px;
}


.tamañoCardServicios {
    height: 500px;
    width: 950px;
}

.imagenNosotros {
    width: 350px;
    height: 350px;
    border-radius: 20%;

}  

.mainAlumno{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 10px;
}



/* FOOTER */

.footer {
    height: auto;
    background-color: black;

}

.footer_redes_sociales {

    text-align: center;

}

.footer h2 {
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: aliceblue;

}


.footer_redes_sociales img {
    width: 45px;
    height: 45px;
    border-radius: 20%;

}

.footer_redes_sociales p {
    font-size: 1.2rem;
    font-family: cursive;
    color: aliceblue;
    text-align: center;

}

.footerLista {
    list-style: none;
}

.footerAncla {
    text-decoration: none;

}


.footer-logo-empresa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 1.2rem;
    font-family: cursive;
    color: aliceblue;
}



/* queries footer */

@media screen and (max-width:1200px) {


    .queriesLogoFooter {
        display: none;
    }

    .footerLista {
        display: none;
    }

    .queriesMapaFooter {
        display: none;
    }

    .footer_redes_sociales {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

    }
}
    

h2:hover {
    border-radius: 100%;

}





















    

    

    