@charset "UTF-8";
.textochico {
  font-size: 1.1rem;
  font-weight: 460;
  line-height: 1.8;
  color: rgb(10, 10, 15);
  -webkit-text-size-adjust: 100%;
}

.altura {
  height: 100%;
}

main {
  background-color: rgb(249, 248, 242);
}

.ancla {
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  color: rgb(247, 247, 242);
}

.container-inscripcion {
  background-color: rgb(238, 238, 227);
  height: 25vh;
}
.container-inscripcion .boton-inscripcion-a {
  text-decoration: none;
  color: rgb(10, 10, 15);
  font-family: cursive;
  font-size: 1.3rem;
}
@media screen and (max-width: 520px) {
  .container-inscripcion .boton-inscripcion-a {
    font-size: 1.1rem;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.inicio {
  font-family: curive;
  font-size: 1.5rem;
  color: rgb(247, 247, 242);
}
.inicio .headerInicio {
  height: 60vh;
  background-image: url(../multimedis/img/header_Inicio.jpg);
  background-size: cover;
  background-position: center;
}
.inicio .headerServicios {
  height: 60vh;
  background-image: url(../multimedis/img/fondo-servicios.jpg);
  background-size: cover;
  background-position: center;
}
.inicio .headerNosotros {
  height: 60vh;
  background-image: url(../multimedis/img/fondo-Nosotros.jpeg);
  background-size: cover;
  background-position: center;
}
.inicio .headerMetodo {
  height: 60vh;
  background-image: url(../multimedis/img/header-metodo.jpg);
  background-size: cover;
  background-position: center;
}
.inicio .headerAlumnos {
  height: 60vh;
  background-image: url(../multimedis/img/fondo-alumnos.jpg);
  background-size: cover;
  background-position: center;
}
.inicio .header_404 {
  height: 20vh;
  background-color: black;
}
.inicio .nombreInst .nombreInst_a {
  font-family: cursive;
  font-size: 1.5rem;
  color: rgb(247, 247, 242);
}
@media screen and (max-width: 1200px) {
  .inicio .nombreInst .nombreInst_a {
    font-size: 1.3rem;
  }
}
.inicio .nombreInst .bordeLogo {
  width: 80px;
  height: 80px;
  border-radius: 80%;
  animation-name: logo;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
}
@keyframes logo {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (max-width: 1200px) {
  .inicio .nombreInst .bordeLogo {
    width: 60px;
    height: 60px;
  }
}
.inicio .navbar-toggler:focus + .collapse .nav-link {
  color: rgb(249, 255, 255);
  font-weight: 200;
}
.inicio .listaHeader {
  line-height: 1.2;
}

.carousel {
  width: 100%;
  padding: 0;
  margin: 0;
}
.carousel .carousel-item {
  height: 40vh;
  width: 100%;
}
.carousel .carousel-item .imagenBanner {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel .carousel-item .h3carruselIndex {
  font-family: cursive;
  font-size: 2rem;
  font-weight: 2rem;
  color: rgb(247, 247, 242);
}
.carousel .carousel-item .textoCarrusel {
  font-family: cursive;
  font-size: 1.5rem;
  font-weight: 2rem;
  color: rgb(247, 247, 242);
}

.nosotros .tamañoImagenNosotros {
  border-radius: 20px;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  height: 400px;
  width: 300px;
  border-radius: 10%;
  border: 2px solid rgb(183, 171, 171);
}
@media screen and (max-width: 768px) {
  .card {
    height: 340px;
    width: 240px;
    border-radius: 10%;
  }
}
@media screen and (max-width: 530px) {
  .card {
    height: 400px;
    width: 300px;
    border-radius: 10%;
  }
}
.card .imgCardProfes {
  border-radius: 15%;
  height: 300px;
  padding: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  .card .imgCardProfes {
    height: 200px;
  }
}
@media screen and (max-width: 530px) {
  .card .imgCardProfes {
    height: 300px;
  }
}
.card .card-text {
  padding: 20px;
  padding-top: 0;
}

.universidades .imgCardUniversidades {
  margin: 5px;
  height: 200px;
  width: 300px;
  border-radius: 20px;
}
.universidades .imgCardUniversidades:hover {
  margin: 5px;
  height: 200px;
  width: 300px;
  border-radius: 20px;
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}
@media screen and (max-width: 1200px) {
  .universidades .imgCardUniversidades {
    height: 150px;
    width: 250px;
    justify-content: center;
  }
}
@media screen and (max-width: 520px) {
  .universidades .imgCardUniversidades {
    height: 200px;
    width: 300px;
    justify-content: center;
  }
}

.overFlowHidden {
  overflow: hidden;
}

.bordeCursos {
  border-bottom: black solid 1px;
  border-top: black solid 1px;
}

.bgCursos {
  background-color: rgb(203, 213, 213);
}

@media screen and (max-width: 1200px) {
  .reverseCursos {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 1200px) {
  .queriesTextoCursos {
    display: none;
  }
}
.tamañoImagenCursos {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.formulario {
  background-color: #211d1d;
}

.carousel-caption .h3CarrouselColegios {
  font-family: cursive;
  font-size: 2rem;
  font-weight: 600;
  color: black;
}
.carousel-caption .textoCarruselColegios {
  font-family: cursive;
  font-size: 1.5rem;
  font-weight: 300;
  color: black;
}
.carousel-caption .linkColegios {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  font-family: cursive;
}

.cards .tamañoImagenCards {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1200px) {
  .cards .queriesServicios {
    flex-direction: column-reverse;
  }
}

.carousel-item .tamañoImgColegios {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .queriesAlumnnos {
    flex-direction: column-reverse;
  }
}
.footer {
  height: auto;
  background-color: black;
}
.footer .rowFooter {
  font-family: Arial, Helvetica, sans-serif;
}
.footer .rowFooter .navbar .bordeLogoFooter {
  width: 80px;
  height: 80px;
  border-radius: 80%;
}
.footer .rowFooter .footerLista {
  list-style: none;
}
@media screen and (max-width: 1200px) {
  .footer .rowFooter .footerLista {
    display: none;
  }
}
.footer .rowFooter .footerLista .footerAncla {
  text-decoration: none;
}
.footer .rowFooter .footer_redes_sociales {
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .footer .rowFooter .footer_redes_sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
.footer .rowFooter .footer_redes_sociales .footer_h2 {
  font-size: 1.2rem;
  text-align: center;
  color: aliceblue;
}
@media screen and (max-width: 1200px) {
  .footer .rowFooter .footer_redes_sociales .footer_h2 {
    display: none;
  }
}
.footer .rowFooter .footer_redes_sociales .footer_img {
  width: 45px;
  height: 45px;
  border-radius: 20%;
}
.footer .rowFooter .footer_redes_sociales .footer_img:hover {
  width: 50px;
  height: 50px;
  border-radius: 20%;
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}
.footer .rowFooter .footer_redes_sociales .footer_redes_sociales_p {
  font-size: 1.2rem;
  font-family: cursive;
  color: aliceblue;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .footer .rowFooter .queriesLogoFooter {
    display: none;
  }
  .footer .rowFooter .queriesMapaFooter {
    display: none;
  }
}

.inicio .header_404 {
  height: 40vh;
  background-color: black;
}

.contenedorError404 {
  height: 100vh;
}
.contenedorError404 .imgError404 {
  width: 50%;
  height: 400px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1200px) {
  .contenedorError404 .imgError404 {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */