.inicio{
    .header_404 {
        height: 45vh;
        background-color: black;
        
    }

}

.contenedorError404 { 
    height: 100%;     

    .imgError404 {
        width: 50%;
        height: auto;
        border-radius: 20px;
        object-fit: cover;        
        
    }
}

