.inicio{
    .header_404 {
        height: 40vh;
        background-color: black;
    }

}

.contenedorError404 {
    height: 100vh;

    .imgError404 {
        width: 50%;
        height: 400px;
        border-radius: 20px;
        object-fit: cover;

        @media screen and (max-width: 1200px) {
            width: 90%;

        }
    }
}