.carousel {
  width: 100%;
  padding: 0;
  margin: 0;

  .carousel-item {
    height: 40vh;
    width: 100%;

    .imagenBanner {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .h3carruselIndex {
      font-family: cursive;
      font-size: 2rem;
      font-weight: 2rem;
      color: $color-claro;
    }

    .textoCarrusel {
      @include textos (1.5rem);

    }
  }
}

.nosotros {
  .tamañoImagenNosotros {
    border-radius: 20px;
    width: 90%;
    height: 350px;
    object-fit: cover;
  }
}