.card {
  height: 90%;
  width: 300px;
  margin-bottom: 30px;
  border-radius: 10%;

  /*&:hover {
    height: 90%;
    width: 300px;
    margin-bottom: 30px;
    border-radius: 50px;
    animation-name: flotar;
    animation-duration: 1s;
    animation-timing-function: ease;

  }*/

  .card-text{
    padding:20px;
    padding-top: 0;
  } 



  .imgCardProfes {
    border-radius: 15%;
    height: 250px;
    object-fit: cover;
    padding: 15px;
    

    /*@keyframes flotar {
      0% {
        transform: translateY(0);
      }

      100% {
        transform: translateY(-30px);
      }
    }*/
  }

}




.imgCardUniversidades {
  margin: 5px;
  height: 200px;
  width: 300px;
  border-radius: 20px;

  &:hover {
    margin: 5px;
    height: 200px;
    width: 300px;
    border-radius: 20px;
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;

  }

}





  @media screen and (max-width: 1200px) {
    .imgCardUniversidades {
      height: 150px;
      width: 250px;
      justify-content: center;

    }

  }

  @media screen and (max-width: 520px) {
    .imgCardUniversidades {
      object-fit: cover;
      height: 150px;
      width: 70%;

    }

  }

  