.linkColegios{

    text-decoration: none;
    color: $color-claro;
    font-family: cursive;
    
  
  }

  .tamañoImagenCards {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
       
  }

  @media screen and (max-width: 1200px) {
    .queriesServicios {
      flex-direction: column-reverse;
       }
    
  }