.carousel-caption {

  .h3CarrouselColegios {
    font-family: cursive;
    font-size: 2rem;
    font-weight: 600;
    color: black;
  }

  .textoCarruselColegios {
    font-family: cursive;
    font-size: 1.5rem;
    font-weight: 300;
    color: black;
  }

  .linkColegios {
    font-size: 1.5rem;
    font-weight: 600;    
    color: black;
    font-family: cursive;   

  }
}

.cards {
  .tamañoImagenCards {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;

  }

  

  @media screen and (max-width: 1200px) {
    .queriesServicios {
      flex-direction: column-reverse;

    }
  }
}

.carousel-item{
  .tamañoImgColegios{
    width: 100%;
      height: 100%;
      object-fit: cover;

  }
}
