.textochico {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color:$color-texto;
  -webkit-text-size-adjust: 100%;
}

.altura {
  height: 100%;
}

main {
  background-color: gainsboro;
  color:$color-texto ;

}

.ancla {
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  color: $color-claro;
}