
@import "variables.scss";
@import "resert.scss";
@import "header.scss";
@import "main_index.scss";
@import "main_nosotros";
@import "main_cursos";
@import "main_servicios";
@import "footer.scss";
@import "utilitarias.scss";



/*MAIN*/


/*.imagenesIngresoColegios {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
  
}*/

/*.alturaContenedorForm {
  height: 100vh;
}*/

/*.h2main {
  font-weight: 600;
  font-size: 30px;
}*/





.boxForm {
  width: 100%;
  background-image: url(../multimedis/fondo-section_1_index.avif);
  background-size: cover;
  background-position: center;
}

/*.textoFormulario {
  color: rgb(37, 44, 51);
  font-size: 1.2rem;
}*/

.tituloForm {
  font-size: 1.5rem;
  font-family: cursive;
  text-align: center;
  font-weight: 5px;
}





.bordeBtnInscripcion{
  border-radius:70%;
}


@media screen and (max-width: 1200px) {
  .footer_redes_sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;  
    
     .footer_h2 {
      display: none;
    }
  }  

  .queriesLogoFooter {
    display: none;
  }
  .footerLista {
    display: none;
  }
  .queriesMapaFooter {
    display: none;
  }
  
}




  


@media screen and (max-width: 1200px) {
  .btnUno {
    background-color: white;
  }
  
}

/*@media screen and (max-width: 1200px)*/


/*@media screen and (max-width: 1200px) {
  .queriesBtnFormFooter{
    display: none;
  }
  
}*/


