
@import "variables.scss";
@import "mixin.scss";
@import "utilitarias.scss";
@import "resert.scss";
@import "header.scss";
@import "main_index.scss";
@import "main_nosotros.scss";
@import "main_cursos.scss";
@import "main_servicios.scss";
@import "footer.scss";






/*.h3main {
  font-weight: 600;
  font-size: 30px;
  color: $color-texto ;
}



















  




  






